*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: currentcolor;
}

html {
	font-family: sans-serif;
}

body {
	margin: 4rem;
}

header {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

h1 {
	margin-bottom: 2rem;
}

img {
	width: 100%;
}

.menu {
	display: flex;
}

.menu a {
	margin-left: 1.5rem;
}

.projets {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	grid-gap: 2rem;
}